/*.sv_qcbc input[type="radio"] {
  
  width:24em !important;
  height:24em !important;
  margin: 4px !important;
}*/

.sv_qcbc input[type="radio"] {
    -ms-transform: scale(1.3) !important; /* IE 9 */
    -webkit-transform: scale(1.3) !important; /* Chrome, Opera */
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3) !important;
    margin: 5px !important;
}
.sv_qcbc input[type="checkbox"]{
    -ms-transform: scale(1.3) !important; /* IE 9 */
    -webkit-transform: scale(1.3) !important; /* Chrome, Opera */
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3) !important;
    margin: 4px !important;
}
.sv_q_m_label input[type="radio"]{
    -ms-transform: scale(1.3) !important; /* IE 9 */
    -webkit-transform: scale(1.3) !important; /* Chrome, Opera */
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3) !important;
    margin: 4px !important;
}